@use "./normalize";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}
p {
  line-height: 150%;
}
a,
span {
  display: inline-block;
}
a {
  text-decoration: none;
}
button {
  border: none;
  padding: 0;
  cursor: pointer;
}
input {
  outline: none;
  border: none;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #0f172a;
  line-height: 150%;
  font-size: 16px;
  &.no-scroll {
    overflow: hidden;
  }
}
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
